app = "pdf_chatbot-ai-backend"
primary_region = "iad"  # Change to closest (e.g., "sin" for India)

[build]
builder = "paketobuildpacks/builder:base"

[http_service]
internal_port = 8000
force_https = true
auto_stop_machines = false
auto_start_machines = true
min_machines_running = 1

[[http_service.checks]]
interval = "10s"
grace_period = "5s"
method = "GET"
path = "/health"
protocol = "http"
timeout = "2s"